[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
djangorestframework = "~=3.14"
celery = {version = "==5.3.1", extras = ["redis"]}
pytelegrambotapi = "*"
mysqlclient = "*"
pymysql = "*"
requests = "*"

[requires]
python_version = "3.11"
